{% extends "base.html" %}
{% block content %}
<h2>Mes listes</h2>
<form method="POST" action="{{ url_for('main.add_list') }}">
    <input type="text" name="name" placeholder="Nom de la liste" required>
    <input type="text" name="tag" placeholder="Tag (ex : groceries)" required>
    <div id="tag-suggestions"></div>
    <button type="submit">Ajouter</button>
</form>
<ul>
    {% for list in lists %}
    <li>
        <a href="{{ url_for('main.get_list', list_id=list.id) }}">
            {{ list.name }} <small>[{{ list.tag }}]</small>
        </a>
        <form method="POST" action="{{ url_for('main.delete_list', list_id=list.id) }}" style="display:inline">
            <button type="submit">🗑️</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
    {% block scripts %}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            debouncer_tag();
        });
        </script>

{% endblock %}
