{% extends "base.html" %}
{% block content %}
    <h2>
        Liste : {{ list.name }}
        <small>
            [
            {% for tag in list.tags %}
                {{ tag.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            ]
        </small>
    </h2>

    <!-- Ajouter un nouvel item -->
    <form id="add-item-form" method="POST" action="{{ url_for('main.add_item', list_id=list.id) }}">
        <input type="text" name="text" id="item-input" autocomplete="off" placeholder="Nouvel élément" required>
        <button type="submit">Ajouter</button>
        <div id="suggestions"></div>
    </form>
    <ul>
        {% for item in items %}
        <li>
            {{ item.suggestion.text }} <strong>x{{ item.quantity }}</strong>
            <form method="POST" action="{{ url_for('main.toggle_item', list_id=list.id, item_id=item.id) }}"
                  style="display:inline;">
                <button type="submit">{% if item.done %}✅{% else %}⬜️{% endif %}</button>
            </form>
            <form method="POST" action="{{ url_for('main.delete_item', list_id=list.id, item_id=item.id) }}"
                  style="display:inline;">
                <button type="submit">🗑️</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <div>
        <strong>Tags : </strong>
        {% for tag in all_tags %}
            <button
                class="tag-btn {% if tag.id in active_tag_ids %}active{% endif %}"
                data-tag-id="{{ tag.id }}">
                {{ tag.name }}
            </button>
        {% endfor %}
    </div>

    <div id="suggestions-quick-add">
        <strong>Suggestions:</strong>
        <ul></ul>
    </div>

    <a href="{{ url_for('main.all_lists') }}">← Retour à mes listes</a>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            debouncer_item({{ list.id }});
            refreshQuickSuggestions();
    });
});
</script>
{% endblock %}